# Data Cleaning 

#### 1. Import pandas library.

In [2]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [3]:
import sqlalchemy
import pymysql

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [4]:
from sqlalchemy import create_engine

In [36]:
#Create mysql engine
sqlitedb_abs_path = '/home/marina/Desktop/juliarochflores.db'
conn_str = f'sqlite:///{sqlitedb_abs_path}'
engine = create_engine(conn_str)

#### 4. Import the users table.

In [42]:
df_table = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", engine)
df_table

,type,name,tbl_name,rootpage,sql
0,table,rank_info,rank_info,2,CREATE TABLE rank_info (\n\tid BIGINT NOT NULL...
1,table,personal_info,personal_info,36,CREATE TABLE personal_info (\n\tid BIGINT NOT ...
2,table,business_info,business_info,157,CREATE TABLE business_info (\n\tid BIGINT NOT ...

#### 5. Rename Id column to userId.

In [43]:
id_rename_query = """ SELECT 'Id column' AS userId FROM sqlite_master """
df_sqlite = pd.read_sql_query(id_rename_query, engine)
df_sqlite

      userId
0  Id column
1  Id column
2  Id column
3  Id column
4  Id column
5  Id column
6  Id column
7  Id column
8  Id column

#### 6. Import the posts table.

In [44]:
df_table

,type,name,tbl_name,rootpage,sql
0,table,rank_info,rank_info,2,CREATE TABLE rank_info (\n\tid BIGINT NOT NULL...
1,table,personal_info,personal_info,36,CREATE TABLE personal_info (\n\tid BIGINT NOT ...
2,table,business_info,business_info,157,CREATE TABLE business_info (\n\tid BIGINT NOT ...

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [45]:
df_rename_columns = """ SELECT 'Id column' AS postId,
OwnerUserId AS userId
FROM sqlite_master """
df_rename_columns1 = """ SELECT 'Id column' AS postId
FROM sqlite_master """

df_sqlite = pd.read_sql_query(df_rename_columns1, engine)
df_sqlite

      postId
0  Id column
1  Id column
2  Id column
3  Id column
4  Id column
5  Id column
6  Id column
7  Id column
8  Id column

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

#### 10. How many missing values do you have in your merged dataframe? On which columns?

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?