## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [84]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [85]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[64, 22, 57, 28, 93, 56, 98, 11, 12, 96, 53, 13, 2, 48, 66, 14, 19, 10, 35, 94, 71, 50, 40, 84, 85, 27, 76, 49, 91, 99, 63, 87, 92, 17, 95, 73, 65, 36, 4, 34, 90, 72, 43, 15, 24, 81, 55, 60, 38, 45, 25, 37, 0, 26, 44, 9, 41, 59, 51, 6, 30, 20, 83, 18, 47, 67, 58, 3, 46, 74, 70, 68, 62, 54, 89, 82, 1, 69, 79, 97]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [86]:
# Your code here
set1 = set(sample_list_1)
print('Set 1 lentgh: ' + str(len(set1)))

Set 1 lentgh: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [87]:
# Your code here
sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)

[100, 71, 75, 21, 15, 5, 92, 69, 50, 99, 38, 66, 97, 43, 48, 95, 3, 63, 48, 78, 24, 56, 9, 46, 14, 69, 24, 34, 15, 21, 1, 87, 37, 15, 77, 100, 29, 89, 63, 6, 95, 5, 59, 22, 89, 36, 68, 47, 97, 51, 83, 3, 39, 67, 33, 16, 50, 80, 42, 38, 51, 5, 64, 31, 24, 81, 61, 12, 21, 40, 34, 53, 81, 95, 21, 84, 89, 87, 14, 55]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [88]:
# Your code here
set2 = set(sample_list_2)
print('Set 2 lentgh: ' + str(len(set2)))

Set 2 lentgh: 54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [89]:
# Your code here
#set3 = set1 - set2
set3 = [i for i in set1 if i not in set2]
print(set3)

[0, 2, 4, 10, 11, 13, 17, 18, 19, 20, 25, 26, 27, 28, 30, 35, 41, 44, 45, 49, 54, 57, 58, 60, 62, 65, 70, 72, 73, 74, 76, 79, 82, 85, 90, 91, 93, 94, 96, 98]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [90]:
# Your code here
set4 = [i for i in set2 if i not in set1]
print(set4)

[5, 16, 21, 29, 31, 33, 39, 42, 61, 75, 77, 78, 80, 100]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [91]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 3, 6, 9, 12, 14, 15, 22, 24, 34, 36, 37, 38, 40, 43, 46, 47, 48, 50, 51, 53, 55, 56, 59, 63, 64, 66, 67, 68, 69, 71, 81, 83, 84, 87, 89, 92, 95, 97, 99}

In [115]:
type(set3)
type(set4)
set_3 = set(set3)
set_4 = set(set4)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [123]:
# Your code here
if len(set1.intersection(set2)):
    print('relationship set1 and set2')
if len(set1.intersection(set_3)):
    print('relationship set1 and set3')
if len(set1.intersection(set_4)):
    print('relationship set1 and set4')
if len(set1.intersection(set5)):
    print('relationship set1 and set5')

relationship set1 and set2
relationship set1 and set3
relationship set1 and set5

#### Create an empty set called `set6`.

In [98]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [110]:
# Your code here
set_3.update(set5)
set6 = set_3.copy()
print(set6)

{0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 30, 34, 35, 36, 37, 38, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 79, 81, 82, 83, 84, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [124]:
# Your code here
set1.issubset(set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [126]:
# Your code here
q1 = set1.issubset(set2)
print('Is Set 1 a subset of Set 2? ' + str(q1))

q2 = set1.issubset(set_3)
print('Is Set 1 a subset of Set 3? ' + str(q2))

Is Set 1 a subset of Set 2? False
Is Set 1 a subset of Set 3? False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [132]:
# Your code here
result_1 = set_3.union(set_4,set5)
#print(result_1)
result_1 = set_3.union(set_4,set5, set1, set2)
print(result_1)

{0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [145]:
# Your code here
#print(set1)
print('Return Value is', set1.pop())
print('Set 1 = ', set1)

Return Value is 2
Set 1 =  {3, 4, 6, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 30, 34, 35, 36, 37, 38, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 79, 81, 82, 83, 84, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [154]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_1 = list(set1)

for element in list_to_remove:
    if element in set_1:
        set_1.remove(element)

#print('Remaining list of Set 1: ' + ' '+ str(set_1))
set1 = set(set_1)
print('Remaining list of Set 1: ' + ' ' + str(set1))

Remaining list of Set 1:  {3, 4, 6, 10, 12, 13, 14, 15, 17, 18, 20, 22, 24, 25, 26, 27, 28, 30, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 82, 83, 84, 85, 87, 90, 92, 93, 94, 95, 96, 97, 98}